* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

div h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
}

.startWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}