* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: grey;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

.startWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 50%;
    height: 50%;
    margin: 2rem;
    padding: 2rem;

    background: white;
    border-radius: 5rem;
}

.startWrapper h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 0rem 1rem 2rem;
    padding: 1rem;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.startBtn {
    background:linear-gradient(0deg, #dddd, #ffff);
    border-radius: 2rem;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.2),0 17px 50px 0 rgba(0,0,0,.5);
}

.startBtn button {
    cursor: pointer;

    border: none;
    border-radius: 1.5rem;

    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;

    padding: 1.5rem;
    margin: 1rem;

    color: grey;
    background:linear-gradient(180deg, #dddd, #ffff);

    transition: all 1s;
}
.startBtn:hover {
    cursor: pointer;
    color: black;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);

    transition: all 1s;
    box-shadow: black;
}
.startBtn:hover::after {
    transition: all 1s;
}