* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

body {
    background:#f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%
}

/* Defined space for most wrapper classes */
.bodyWrapper {
    width: 100vw;
    height: 100vh;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 80rem;
    margin: 0 auto;
}
.homePage, 
.rulesPage,
.lbPage,
.quizPage {
    display: flex;
    flex-direction: column;

    width: 50vw;
    height: auto;
    margin: 2rem auto;
    padding: 2rem;

    background: white;
    border-radius: 1rem;
}

/*  Start Wrapper Styles */
.homePage {
    /* Hides the Start Page until being called on */
    /* display: none; */
    justify-content: flex-start;
    align-items: center;
}

.homePage h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0rem 1rem 2rem;
    padding: 1rem;
}

.homeStartBtn,
.homeLbBtn {
    cursor: pointer;

    width: 15rem;
    height: auto;

    border: none;
    border-radius: 1.5rem;

    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    padding: 1.5rem;
    margin: 1rem;

    color: rgb(202, 202, 202);
    background: #f5f5f5;

    transition: .5s;
}
.homeStartBtn:hover, 
.homeLbBtn:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: rgb(202, 202, 202);

    transition: .5s;
}


/* Rules Wrapper Styles */
.rulesPage{
    /* Hides the Rules Page until being called on */
    display: none;
    justify-content: flex-start;
    align-items: center;
    
}
.rulesTitle {
    width: 90%;
    height:auto;

    border-bottom: gray 1px solid;
    padding: 2rem;
    margin: auto;
    
    text-align: center;
    text-decoration: none;
}

.rulesTitle span,
.lbTitle span {
    font-size: 2rem;
    margin: auto;
    padding: .5rem 1.5rem;
    text-align: center;
    width: 50%;
    height: auto;

}
.rulesList {
    width: 85%;
    height: auto;
    
    padding: 0 3rem;
    margin: auto;
}
.rulesPage ul {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 85%;
    height: auto;

    padding: 1rem;
    
    
    line-height: 3rem;
    list-style: none;
    font-size: .9rem;
}

/* Buttons */
.buttonWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 90%;
    height: auto;

    border-top: gray 1px solid;
    margin: auto;
}

.buttonSubwrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    padding: 2rem;
    text-align: center;
}
.rulesHomeBtn,
.rulesStartBtn,
.lbHomeBtn {
    font-size: 1rem;
    width: 10rem;
    height: auto;

    border: none;
    border-radius: .5rem;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    padding: 1.1rem;
    margin: 1rem;

    color: rgb(0, 0, 0);
    background: #f5f5f5;

    transition: .5s;
}
.rulesHomeBtn:hover, 
.rulesStartBtn:hover,
.lbHomeBtn:hover {
    cursor: pointer;
    color: #f5f5f5;
    background: rgb(202, 202, 202);

    transition: .5s;
}

/* Leaderboard Page */
.lbPage {
    /* Hides the Leaderboard Page until being called on */
    display: none;
    justify-content: center;
    align-items: center;
}
.lbTitle {
    width:90%;
    height: auto;

    border-bottom: gray 1px solid;
    padding: 2rem;
    margin: auto;

    text-align: center;
    text-decoration: none;
}
.scores {
    font-size: 1.1rem;
    padding: 2rem;
    margin: 1rem auto;
    width: 80%;
}

/* Quiz Page */
.quizPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* Hides the Quiz Page until being called on */
    display: none;
}
.quizHeader {
    width: 90%;
    height: auto;

    border-bottom: gray 1px solid;
    padding: 2rem;
    margin: auto;

    text-decoration: none;

    align-items: flex-start;

    display: flex;
}
.question {
    font-size: 1.5rem;
    width: 100%;
    height: auto;
}

.answerWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
    width: 80%;
    height: auto;

    line-height: 3rem;
    list-style: none;
    font-size: .9rem;

    padding: 2rem;
    margin: auto;
}
.answerWrapper .choices {
    background: #f5f5f5;

    padding: .5rem;
    margin: 1rem;

    border-radius: 1rem;
    transition: .5s;
}
.timer {
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: .3rem;

    width: 90%;
    height: auto;

    padding: 2rem;
    margin: auto;

    border-top: gray 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#seconds {
    margin: 0 1rem;
    font-size: 1.3rem;
}

.choices:hover {
    cursor: pointer;
    color: #f5f5f5;
    background: rgb(202, 202, 202);

    transition: .5s;
}